
.app {
  display: flex;
  height: 120vh;
}

.sidebar {
  width: 200px;
  background-color: gray;
  padding: 20px;
  height: 160vh;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.main-content {
  flex: 1;
  background-color: lightgray;
  height: 120vh;

}